/* header = logo */
header {
    background: #78a1ff;
    position: fixed;
    left: 233px;
    top: 0px;
    padding: 41px;
    z-index: 2;
}

.topnav {
    background: #f2f2ed;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100px;
    width: 100%;
    margin-bottom: 50px;
    font-size: 17px;
    z-index: 1;
}

.topnav a {
    float: right;
    position: relative;
    right: 220px;
    font-size: 20px;
    line-height: 60px;
    padding: 20px;
}

#contact_section {
    background: #719cff;
    position: relative;
    top: 120px;
    height: 500px;
    width: 960px;
    margin: 0 auto;
}

h2 {
    padding: 30px 20px 0px 30px;
}

form {
    background: pink;
    padding: 10px 30px 10px 30px;
    margin: 0 auto;
    width: 900px;
    height: 392px;
}
 input[type=text] {
     width: 100%;
     padding: 10px 0px;
 }

 #message_input {
    width: 100%;
    padding: 90px 0px;
    margin-bottom: 15px;
 }

 button {
    background-color: #55b8a2;
    padding: 15px 20px;
 }

 footer {
    background: #54544d;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 50px;
    font-size: 10px;
    color: #ffffff;
    width: 100%;
    border-top: 5px solid #55b8a2;
    text-align: center;
 }

 